{% extends "base/base.html" %}
{% load static %} {% load staticfiles %}
{% load path_list %}


{% block additional_head %}
    <style>
        #catalog_filters > form > input,
        #catalog_filters > form > select {
            height: 25px;
        }

        #catalog_filters > form > .home-button {
            height: 28px;
            margin-top: 2px;
            padding: 4px 14px;
        }
    </style>
{% endblock %}


{% block content %}

    <!-- Боковое меню -->
    <div class="grid_3">
        <div class="hidden-mobile">
            {% include 'lists/catalog-menu.html' with tags_menu=tags %}
        </div>
    </div>


    <!-- Основной блок в котором выводится список товаров и отдельный товар -->
    <div class="grid_8">
        {% if request.user.is_superuser %}
            <a href="/api-import">
                <i class="fas fa-upload"></i>
            </a>
        {% endif %}


        {% block container_list_offers %}

            <!-- Первых 4 субтега, которые выводятся в каталоге -->
            <div class="catalog-subtags">
                <ul class="catalog-subtags-ul">
                    {% for tag in subtags %}
                        {% if forloop.counter <= 4 %}
                            <li class="admin-relative-block">
                                <a href="{% url 'catalog' cat_url=tag.tag_url %}">
                                    {% if tag.tag_image %}
                                        <img src="{{ tag.tag_image.url }}" alt="Изображение тега">{% else %}
                                        <img src="{% static 'images/nophoto.jpg' %}" width="50"
                                             alt="Изображение тега">{% endif %}</a>
                                <div class="tag_text">
                                    <a href="{% url 'catalog' cat_url=tag.tag_url %}">{{ tag.tag_title }}</a>
                                    <p>{{ tag.tag_description|safe }}</p>
                                </div>

                                {% include 'forms/admin-button-edit.html' with abe_title=tag.tag_url abe_template="subtag_form.html" abe_model=tag %}
                            </li>
                        {% endif %}
                    {% endfor %}
            </div>

            <!-- Панель отображения товаров(списком или блочно) и название категории -->
            <div class="custom-viewers-line">
                <div class="block-settings-type-sorted"></div>
                <div class="block-settings-type-view">

                    <!--<p id="text-settings-list-or-block"></p>-->
                    <a class="return-to-category">{{ cat_title.tag_title }}</a>

                    <a id="offer-show-list" class="active"><i class="fa fa-th-list"></i></a>
                    <a id="offer-show-block"><i class="fa fa-th-large"></i></a>
                    <select name="sort" style="float: right; height: 20px; margin-top: 10px;">
                        <option data-sort-by="priority" {% if sort == 'priority' %}selected{% endif %}>По популярности</option>
                        <option data-sort-by="name" {% if sort == 'name' %}selected{% endif %}>По названию</option>
                        <option data-sort-by="price" {% if sort == 'price' %}selected{% endif %}>По цене</option>
                    </select>
                </div>
            </div>

            <div id="catalog_filters">
                <form action="" id="filter_form">
                    {% if label_tags %}
                        {% for tag in label_tags %}
                            <select name="tag_find-{{ tag.id }}" id="">
                                <option disabled selected>{{ tag.label_name }}</option>
                                {% for s_tags in tag.offer_subtags.all %}
                                    <option value="{{ s_tags.id }}">{{ s_tags.tag_title }}</option>
                                {% endfor %}
                            </select>
                        {% endfor %}
                        <br>                        
                    {% endif %}
                    <input type="text" value="{{ search_title }}" name="search_title" placeholder="Название (от 2 симв)"/>
                    <input type="text" value="{{ search_price_from }}" name="search_price_from" placeholder="Цена от"/> -
                    <input type="text" value="{{ search_price_to }}" name="search_price_to" placeholder="Цена до"/>
                    <input type="hidden" value="{{ sort }}" name="sort_by"/>
                    <button type="submit" class="home-button">Показать</button>
                    <button onclick="javascript:clearFilter()" type="button" class="home-button">Сбросить</button>
                </form>
            </div>


            <div class="custom-orders-list" {% if offer|length <= 2 %}style="justify-content: flex-start;"{% endif %}>
                {% if offer|length == 0 %}
                    <div style="width: 100%; font-weight: bold; font-size: 20px; padding: 15px; text-align: center;">
                        Не найдено по заданному параметру
                    </div>
                {% endif %}
                {% for p in offer %}
                    <div class="catalog-order order-show-list"
                         {% if offer|length <= 2 %}style="margin-right: 20px;"{% endif %}>

                        <div class="catalog-order-image"> <!-- здесь нужно добавить проверку на наличие "главного" изображения -->
                            <a href="/goods/{{ p.offer_url }}/"><img src="{{ p.get_main_image }}" alt=" "></a>
                        </div>


                        <div class="catalog-order-text">
                            <h5 class="hidden-in-list title">{{ p.offer_title|truncatechars:90 }}</h5>
                            <a href="/goods/{{ p.offer_url }}/" class="hidden-in-block title">
                                <h5>{{ p.offer_title|truncatechars:90 }}</h5>
                            </a>

                            <b class="order-price">{{ p.default_price_value|stringformat:"i" }} руб.</b>
                            <span>{{ p.offer_availability }}</span>

                            <p>{{ p.offer_text|offer_pre_text|safe }}</p>
                        </div>


                        <div class="catalog-order-button hidden-in-list">
                            <a href="/goods/{{ p.offer_url }}/">Просмотреть</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="admin-relative-block" style=" margin: 20px 0; background-color: #E7EBE6; padding: 10px;">
                {% if cat_title.footer_text == '' %}
                    {% if request.user.is_superuser %}
                        Текстовый блок
                    {% endif %}
                {% else %}
                    {% autoescape off %}
                    {{ cat_title.footer_text }}
                    {% endautoescape %}
                {% endif %}
                {% include 'forms/admin-button-edit.html' with abe_title=cat_title.tag_url abe_template="footer-text-block.html" abe_model=cat_title %}
            </div>

            {% include 'lists/cloud-tags.html' %}

        {% endblock container_list_offers %}
    </div>

{% endblock %}


{% block additional_scripts %}
    <script type="text/javascript">
        $('#offer-show-block').on('click', function () {
            if ($('.custom-orders-list > .catalog-order').hasClass('order-show-list')) {
                $('.custom-orders-list > .catalog-order').toggleClass('order-show-list order-show-block');
                $('.block-settings-type-view > a:not(.return-to-category)').toggleClass('active');
            }
        });

        $('#offer-show-list').on('click', function () {
            if ($('.custom-orders-list > .catalog-order').hasClass('order-show-block')) {
                $('.custom-orders-list > .catalog-order').toggleClass('order-show-list order-show-block');
                $('.block-settings-type-view > a:not(.return-to-category)').toggleClass('active');
            }
        });

        $('select[name=sort]').change(function(e){
            var option = $('select[name=sort] option:selected')[0];
            var sort_by = option.dataset.sortBy;
            $('#filter_form input[name=sort_by]').val(sort_by);
            $('#filter_form').submit();
        });

        function clearFilter() {
            var option = $('select[name=sort] option:selected')[0];
            var sort_by = option.dataset.sortBy;
            window.location = '{{ request.path }}?sort_by='+sort_by
        }
    </script>


{% endblock %}
