<div class="admin-form-group">
    <input type="hidden" name="template-name-edit" value="{{ template_send }}">


    <div><input type="hidden" name="model-id" value="{{ model_id }}"></div>
    <div>Тип цены: <select name="price_type">
      {% for price_type in extra_data.price_types %}
        <option value="{{ price_type.id }}" {% if price_type.id == form.price_type %}selected{% endif %}>{{ price_type.name }}</option>
      {% endfor %}
    </select></div>
    <div>Цена:
        <p style="color: black">
            <input id="id_value" name="value" step="any" type="number" value="{{ form.initial.value }}" required="">
        </p>
    </div>

    <div>
        <input type="checkbox" name="delete" style="width: 30%"/> <p>Удалить</p>
    </div>

    <div>
        <button class="home-button" type="submit">Сохранить</button>
    </div>
</div>
