<div class="admin-form-group">
    <input type="hidden" name="template-name-edit" value="{{ template_send }}">


    <div><input type="hidden" name="model-id" value="{{ model_id }}"></div>
    <div>Url: <p style="color: black">{{ form.tag_url }}</p></div>
    <div>Название: <p style="color: black"> {{ form.tag_title }}</p></div>
    <div>Текст: <p style="color: black"> {{ form.tag_description|safe }}</p></div>
    <div>Изображение: <p style="color: black"> {{ form.tag_image }}</p></div>


    <div><button class="home-button" type="submit">Сохранить</button></div>
</div>
